/*
    webapp.css
    Matthew Rasmussen, Nacho Rodriguez-Cortes
    21 February 2021

    CSS for the web app for CS257.
*/
.wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(1fr, auto);
}

.search_bar{
    grid-column: 3 / 4;
    grid-row: 1;

}
.header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: red;
}

.content {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
}


.side_bar {
    grid-column: 1;
    grid-row: 2 / 4;
    background-color: blue;
}

.bttn {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 12px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

.active, .bttn:hover {
    background-color: red;
    color: black;
    border: 2px solid red;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
}

a {
   color: hotpink;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 5px;
}


li {
    margin: 5px;
}

h3 {
    margin: 10px;
}
