<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='webapp_table.css') }}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='webapp.js') }}" defer></script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>CS 257: Software Design</title>
</head>

<body>
    <div class = "wrapper">
        <div class = "header">
            <h3><a href="/">DnD Spell Explorer</a></h3>
        </div>
        <div class = "side_bar" id = "side_bar">
            <ul>
                <li><button id="Spells" class="bttn">Spells</button></li>
                <ul>
                    <li><button id="Bard" class="bttn"> Bard </button></li>
                    <li><button id="Cleric" class="bttn"> Cleric </button></li>
                    <li><button id="Druid" class="bttn"> Druid </button></li>
                    <li><button id="Paladin" class="bttn"> Paladin </button></li>
                    <li><button id="Ranger" class="bttn"> Ranger </button></li>
                    <li><button id="Sorcerer" class="bttn"> Sorcerer </button></li>
                    <li><button id="Wizard" class="bttn"> Wizard </button></li>
                    <li><button id="Warlock" class="bttn"> Warlock </button></li>
                </ul>
            </ul>
        </div>
        <div class = "content">
            <h3 id="content_label"> Welcome to our DnD Page! </h3>
            <div id="Spells_visibility" class="hidden">   
                <table id='Spells_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="Bard_visibility" class="hidden">
                <table id='Bard_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="Cleric_visibility" class="hidden">
                <table id='Cleric_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="Druid_visibility" class="hidden">
                <table id='Druid_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table> 
            </div>
            <div id="Paladin_visibility" class="hidden">
                <table id='Paladin_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="Ranger_visibility" class="hidden">
                <table id='Ranger_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="Sorcerer_visibility" class="hidden">
                <table id='Sorcerer_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="Wizard_visibility" class="hidden">
                <table id='Wizard_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div id="Warlock_visibility" class="hidden">
                <table id='Warlock_table' class='table table-striped table-bordered'>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Spell Level</th>
                            <th>Casting Time</th>
                            <th>Ritual</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
